body {
    margin: 0;
    padding: 25px;
}

.top-container {
    border: 5px solid black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Retains the sizes I want. */
}

#purple-rectangle {
    background-color: #8A2BE2;
    width: 50px;
    height: 150px;
    display: inline-block; /* Display the elements from left to right, each element occupying its own block. */
}

#green-rectangle {
    background-color: #228822;
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 0px 50px; /* Remember that the first parameter is for top/bottom, second is for left/right. */
}

#blue-circle {
    background-color: #87CEEB;
    height: 200px;
    width: 200px;
    border-radius: 100%; /* Making it 100% makes sure it's as round as can be. */
    display: inline-block;
}

.middle-container {
    border: 5px dotted black;
    padding: 50px;
    width: 100%;
    margin: 25px 0px;
    box-sizing: border-box;
}

#inner-rectangle {
    background-color: #FFFACD;
    width: 100%;
    height: 200px;
    box-shadow: 5px 5px black; /* Googled this solid shadow method, but will attempt gradients later. */
}

.bottom-container {
    width: 50%;
    border: 1px solid #CCCCCC;
    padding: 100px;
    box-sizing: border-box;
    margin: 25px auto;
    box-shadow: 5px 5px black;

}

.bottom-container h1 {
    width: 100%;
    text-align: center;
    color: #000080;
    letter-spacing: 10px;
}
